a{
  cursor: pointer;
}

.pets {
  border: 1px dashed #cfd8dc;
  background-color: #eeeeee;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
  padding: 5px;
  margin: 10px 0 10px 0;

  .btns {
    position: absolute;
    font-size: .7em;
    padding: 5px;
    top: 0;
    right: 0;
    margin: 0;
  }
}

.avatar_modal_overlay{
  position: absolute;
  background-color: rgba(46, 46, 46, 0.08);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.avatar_modal{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(102, 102, 102, 0.21);
  border-radius: 5px;
  padding: 10px;

  &:hover{
    .close_modal{
      opacity: 1;
      right: -50px;
    }
    .block_btn{
      opacity: 1;
      transform: scale(1);
    }
  }
}

.title{
  margin-left: 10px;
}
.block_btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transform: scale(0.5);
  color: white;
  z-index: 0;
  opacity: 0;
  transition: .4s ease-in;
}
.preview{
  transform: scale(1);
  border-radius: 5px;
  min-width: 150px;
  max-width: 300px;
  max-height: 300px;
}

.block_avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}

hr{
  margin-top: 20px;
}

.account{
  justify-content: center;
  white-space: nowrap;


  .firstColumnAccount{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-right: 10px;
    border-right: 1px solid  rgba(75, 218, 40, 0.21);


  }

  .secondColumnAccount{
    position: relative;
    padding-top: 0.5em;
    padding-left: 10px;
    overflow: hidden;
    color: rgb(72, 72, 72);

    .online{
      position: absolute;
      right: 0;
      top: 0;
    }

  }

  .user-info{
      font-size: 1em;
      display: grid;
      grid-template-columns: auto auto ;
      grid-gap: 5px;

  }


  .underAvatar{
    display: flex;
    flex-flow: column;

    button {
      margin: 5px 0;
    }
  }
}


