footer{
  margin-top: 0.5em;
  height: 50px;
  background-color: rgba(0, 86, 132, 0.77);
  box-shadow: inset 0 1px 3px rgba(0, 86, 132, 1);
  color: #eeeeee;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}


