
.container{
  position: relative;
  display: block;

  .description{
    color: #2e2e2e;
    width: calc(100% - 20px);
    min-height: 30px;
    max-height: 80px;
    margin: 10px;
    border-radius: 5px;
    resize: none;
  }
}

.page{
  display: flex;
  flex-flow: column;
}

.photos{
  display: flex;
  flex-flow: wrap;

  div {
    position: relative;
    max-height: 200px;
    margin: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;

    span{
      position: absolute;
      right: 5px;
      color: #6d7a6d;
      cursor: pointer;
      &:hover{
        color: white;
      }
    }
  }

}

.edit-album_button-block {
  margin-left: 15px;
  margin-right: 15px;
}

.edit-album_container{
  position: relative;
  display: inline-block;
}

.photo {
  min-height: 200px;
  max-height: 200px;
  cursor: pointer;
}


