nav {
  border-bottom: 1px solid rgba(96, 125, 139, 0.26);
  background-color: rgba(0, 86, 132, 0.77);
  margin: 0;
  padding: 0 10%;
  box-shadow: 0 0 2px rgba(46, 46, 46, 0.39);
}

nav a {
  padding: 13px 15px;
  text-decoration: none;
  display: inline-block;
  color: #eeeeee;
  border-right: 1px solid rgba(0, 86, 132, 0.2);
  cursor: pointer;
  user-select: none;

  &:last-child{
    border-right: none;
  }

}
nav a:visited, a:link {
  color: #eeeeee;
}
nav a:hover {
  color: #f3ffff;
  background-color: rgba(0, 86, 132, 0.2);
}
nav a.active {
  color: #ffffff;
  background-color: rgba(0, 86, 132, 0.31);
}
.notification{
  padding: 5px;
  font-size: 12px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 250px;
  height: 60px;
  background-color: rgb(31, 31, 31);
  color: white;
  border-radius: 5px;
}
.close{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #eeeeee;
}
.text{
  padding-top: 5px;
  color: #b4b4b4;
}

.notif_avatar{
  border-radius: 50%;
}
