nav {
  border-bottom: 1px solid rgba(96, 125, 139, 0.26);
  background-color: rgba(0, 86, 132, 0.77);
  margin: 0;
  padding: 0 10%;
  box-shadow: 0 0 2px rgba(46, 46, 46, 0.39);
  width: 100%;
  z-index: 1;
}
nav a {
  padding: 13px 15px;
  text-decoration: none;
  display: inline-block;
  color: #eeeeee;
  border-right: 1px solid rgba(0, 86, 132, 0.2);
  cursor: pointer;
  user-select: none;

  &:last-child{
    border-right: none;
  }

}
nav a:visited, a:link {
  color: #eeeeee;
}
nav a:hover {
  color: #f3ffff;
  background-color: rgba(0, 86, 132, 0.2);
}

nav a:first-child:hover {
  color: #f3ffff;
  background-color: rgba(0, 86, 132, 0);
}
nav a.active {
  color: #ffffff;
  background-color: rgba(0, 86, 132, 0.31);
}
.notification{
  padding: 5px;
  font-size: 12px;
  position: fixed;
  z-index: 5;
  right: 10px;
  bottom: 10px;
  width: 250px;
  height: 60px;
  background-color: rgb(31, 31, 31);
  color: white;
  border-radius: 5px;
}
.close{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #eeeeee;
}
.text{
  padding-top: 5px;
  color: #b4b4b4;
}

.wrapper_menu{
  height: 50px;
}
a{
  color: white;
}
.logo{
  width: 168px;
  background: url("../../placeholders/logo11.png") no-repeat;
  background-size: contain;
}

@media (max-width: 865px) {
  .logo{
    width: 148px;
  }

}

@media (max-width: 775px) {
  nav a {
    padding: 13px 12px;
  }

  .logo{
    width: 120px;
  }
}

@media (max-width: 680px) {
  nav a {
    padding: 13px 6px;
  }
  .logo{
    width: 100px;
  }
}

@media (max-width: 580px) {
  .logo{
    width: 100px;
  }

  nav {  padding: 0;}
  nav a {
    float: none;
    display: block;
    text-align: left;
    border: none;
  }
}
