<div *ngIf="show" class="photo_modal-overlay" [routerLink]="" [queryParams]="{}" (click)="show = !show"></div>
<div  *ngIf="show" class="photo_modal" >

  <div class="lister">
    <div class="left no-select" [routerLink]="" [queryParams]="{ photo: prev }">&lt;</div>
    <img class="photo no-select" src="http://localhost:8000/{{targetPhoto[0].url}}" >
    <div class="right no-select" [routerLink]=" " [queryParams]="{ photo: next }">&gt;</div>
  </div>
  <div *ngIf="move" class="move_modal-overlay"  (click)="move = !move" ></div>
  <div  *ngIf="!move" class="info">
    <div *ngIf="targetPhoto[0].created_at"> {{targetPhoto[0].created_at | date: 'hh:mm dd.MM.yyyy'}}</div>
      <a [routerLink]="['/album/']+targetPhoto[0].album._id">{{targetPhoto[0].album.title}}</a>
      {{idx+1}} из {{photos.length}}
    <a class="btn_show btn_margin" (click)="move = !move">переместить фото</a>
  </div>
  <div *ngIf="move" class="move">
    <h1>Переместить фото</h1>
      <ul >
        <li *ngFor="let album of userAlbums$ | async">
          <a [routerLink]="" [queryParams]="{}" (click)="movePhoto(album._id, targetPhoto[0]._id)">  <img *ngIf="album.photos[0]" class="smallAvatar"  src="http://localhost:8000/{{album.photos[0].url}}" alt="">
            {{album.title}}</a>
        </li>
      </ul>
    <button (click)="move = !move">Закрыть</button>
  </div>

</div>
