<div *ngIf="show && targetPhoto" class="photo_modal-overlay"  (click)="closeModal()"></div>
<div [@viewerAnim]="show"   *ngIf="show && targetPhoto" class="photo_modal"  >
  <button class="close_modal" (click)="closeModal()">&#x2716;</button>
  <div class="lister" >
    <div class="left no-select" [routerLink]="" [queryParams]="{ photo: prev }">&lt;</div>
    <img class="photo no-select" src="http://localhost:8000/{{targetPhoto.url}}" >
    <div class="right no-select" [routerLink]=" " [queryParams]="{ photo: next }">&gt;</div>
    <div  *ngIf="!move" class="info">
      {{idx+1}} из {{photos.length}}
    </div>
  </div>
  <div *ngIf="move" class="move_modal-overlay"  (click)="move = !move" ></div>

  <div class="info_photo">
    <div class="user_info">
      <img class="comment_avatar" src="{{'http://localhost:8000/' + targetPhoto.owner.avatar.url}}" alt="">
      <div [ngStyle]="{marginLeft: '5px'}">
        <strong>{{targetPhoto.owner.name | titlecase}} {{targetPhoto.owner.surname | titlecase}}</strong>
        <h5 *ngIf="targetPhoto.created_at">{{targetPhoto.created_at | date: 'dd MMMM yyyy'}}</h5>
      </div>
    </div>
    <div class="photo_info" >
      <p *ngIf="targetPhoto.likes">
        <a class="like"  (click)="addLike(targetPhoto)" [ngClass]="{active: targetPhoto.likes.includes(myId|async)}">&#10084;</a>
        {{targetPhoto.likes.length}}
      </p>
      <p>Альбом: <a [routerLink]="['/album/']+targetPhoto.album._id">{{targetPhoto.album.title}}</a></p>
    </div>
    <div class="settings">
      <div *ngIf="move" class="move">
        <h1>Переместить фото</h1>
        <ul >
          <li *ngFor="let album of userAlbums$ | async">
            <a *ngIf="album.title !== 'Мои фото с профиля'" (click)="movePhoto(album._id, targetPhoto._id)">
              <img *ngIf="album.photos[0]" class="smallAvatar"  src="http://localhost:8000/{{album.photos[0].url}}" alt="">
              {{album.title}}</a>
          </li>
        </ul>
        <button (click)="move = !move">Закрыть</button>
      </div>
      <a  *ngIf="targetPhoto.owner._id === (myId | async)" (click)="edit = !edit">Eще</a>
      <div class="edit" *ngIf="edit">
        <ul>
          <li><a class="btn_show" (click)="move = !move">Переместить фото</a></li>
          <li><a class="btn_show" (click)="del(targetPhoto)">Удалить фото</a></li>
          <li><a class="btn_show" (click)="changeAvatar(targetPhoto)">Поставить на главную</a></li>
        </ul>
      </div>

    </div>

    <div class="comments">
      <hr>
      <div class="block_post" *ngFor="let comment of targetPhoto.comments">

        <div class="post">
          <div [ngStyle]="{display: 'flex', alignItems: 'center'}">
            <img class="comment_avatar" src="http://localhost:8000/{{comment.user.avatar.url}}" alt="{{comment.user.name}}">
          </div>
          <div>
            <h4><strong>{{comment.user.name | titlecase}} {{comment.user.surname | titlecase}}</strong></h4>
            <h4>{{comment.text}}</h4>
            <h5>{{comment.created_at | date: 'dd.MM.yyyy hh:mm  '}}</h5>
          </div>
          <a class="del" *ngIf="targetPhoto.owner._id === (myId | async) || comment.user._id === (myId | async)" (click)="deleteComment(comment._id)">&#215;</a>
        </div>
        <hr>
      </div>

    </div>
    <div class="comment_area">
      <textarea [(ngModel)]="text" placeholder=" Ваш комментарий" name="comment[text]" id="comment_text" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
      <button class="send" type="submit" (click)="sendComment(targetPhoto)">Ок</button>
    </div>
  </div>
</div>
