
<div *ngIf="!userToken; else edit">
  <form  [formGroup]="form" (ngSubmit)="addUser()" >
    <h2>Registration</h2>
    <div>
        <input type="text" formControlName="login" placeholder="Login">

    </div>
    <div>
        <input type="password" placeholder="Password" formControlName="password">

    </div>
    <div>
        <input type="text" placeholder="Email" formControlName="email">
    </div>
    <div>
        <input type="text" formControlName="name" placeholder="Name">
    </div>
    <div>
        <input type="text" formControlName="surname" placeholder="Surname">
    </div>
    <div>
        <input type="text" formControlName="number" placeholder="Number">
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid">Send</button>

  </form>
</div>
<ng-template #edit>

  <form  [formGroup]="form" (ngSubmit)="update()">
    <h2>Edit User</h2>
    <p>{{info}}</p>
    <div *ngIf="changePass">
      <h1>Avatar</h1>
      <input type="file" name="avatar" id="file" class="inputfile"(change)="onFileChange($event)" />
      <button class="" type="submit" (click)="onSubmit()">Upload</button>
    </div>

    <div>
      <input type="text" formControlName="login" placeholder="Login" hidden>
    </div>

    <div *ngIf="!changePass">
      <h1>Password</h1>
      <input type="password" placeholder="Password" formControlName="password">
    </div>

    <div *ngIf="changePass">
      <h1>Email</h1>
      <input type="text" placeholder="Email" formControlName="email" >
    </div>
    <div *ngIf="changePass">
      <h1>Name</h1>
      <input type="text" formControlName="name" placeholder="Name" >
    </div>
    <div *ngIf="changePass">
      <h1>Surname</h1>
      <input type="text" formControlName="surname" placeholder="Surname">
    </div>
    <div *ngIf="changePass">
      <h1>Number</h1>
      <input type="text" formControlName="number" placeholder="Number" >
    </div>
    <button class="btn" type="submit" [disabled]="form.invalid">Update</button>
  </form>

  <button class="btn" type="submit" (click)="changePass = !changePass">{{changePass? 'Change Password' : 'Edit Profile'}}</button>
</ng-template>
