.uploadField{
  border: 1px solid rgba(33, 63, 41, 0.19);
  margin: 5px 0;
  border-radius: 5px;
}
a{
  display: flex;
  align-items: center;
  flex-flow: row;
  cursor: pointer;
}
.field{
   color: rgba(102, 102, 102, 0.25);
 }
