
<div class="container " [ngClass]="{ grid: routeMyFriends && login === userLogin,
                  content: routeMyFriends, first_column_height: routeMyFriends, friends_width: !routeMyFriends }">
  <div class="first-column" >
    <h1 ><a routerLink="/friends/{{login}}">Друзья</a></h1>
    <hr>
    <div [ngClass]="{wrap: !routeMyFriends}">
      <div class="module " [ngClass]="{border_bottom: routeMyFriends}" *ngFor="let user of friends">
        <div  [ngClass]="{column_block: routeMyFriends}">
          <a routerLink="/users/{{user.friend.login}}"
             [ngClass]="{
             wrapper_avatar: routeMyFriends,
             module_avatar: routeMyFriends,
             module_smallAvatar: !routeMyFriends}">

            <img src="http://localhost:8000/{{user.friend.avatar.url}}"
                 [ngClass]="{smallAvatar: routeMyFriends, smallerAvatar: !routeMyFriends}">
          </a>
          <h5 *ngIf="!routeMyFriends">
            {{user.friend.name | titlecase}}
          </h5>
        </div>
        <div class="column_block" *ngIf="routeMyFriends">
          <a routerLink="/users/{{user.friend.login}}">
            <h4>{{user.friend.name | titlecase}} {{user.friend.surname | titlecase}} </h4>
          </a>
          <a class="btn_show" *ngIf="login === userLogin" (click)="goToDialog(user.friend)">Написать сообщение</a>
          <a class="btn_show" *ngIf="login === userLogin" (click)="delFriend(user.friend._id)">Убрать из друзей</a>
        </div>
      </div>
    </div>
  </div>
  <div class="second-column" *ngIf="routeMyFriends && login === userLogin">
    <h1>Заявки в друзья</h1>
    <hr>
    <div class="module" *ngFor="let req of requests">
      <div class="column_req">
        <a routerLink="/users/{{req.friend.login}}">
          <h4>{{req.friend.name | titlecase}} {{req.friend.surname | titlecase}} </h4>
        </a>
        <a class="wrapper_avatar"  routerLink="/users/{{req.friend.login}}">
          <img class="smallAvatar" src="http://localhost:8000/{{req.friend.avatar.url}}" alt="">
        </a>
      </div>
      <div class="column_req">
        <button class="btn_margin" (click)="addFriend(req.friend._id)">Добавить</button>
        <button class="btn_margin" (click)="delReq(req._id)">Отказать</button>
      </div>
    </div>
  </div>
</div>
