<ng-template #noAlbums>
  <div  class="container albums">
    <h1 >
      <a [routerLink]="link">Альбомы</a>
    </h1>
    <hr>
    <div class="albums_block">
      <h5>Альбомов пока нет... :(</h5>
    </div>
  </div>
</ng-template>
<div  class="container albums" *ngIf="albums.length>0; else noAlbums">
  <div class="title_add">
    <h1 *ngIf="!limit ; else mainPageRoute">
      <a  [routerLink]="link">{{albums[0].owner.name | titlecase}} {{albums[0].owner.surname | titlecase}} </a>
      >> Альбомы
    </h1>
    <button *ngIf="accountChecker() && isAuth && !limit"  (click)="changeModal()" >Добавить Альбом</button>
  </div>
  <ng-template #mainPageRoute>
    <h1 >
      <a [routerLink]="link">Альбомы</a>
    </h1>
  </ng-template>
  <hr>
  <div class="albums_block">
    <div *ngFor="let album of albums ">

      <a routerLink="/album/{{album._id}}">
        <div class="album">
          <div class="main-photo">
            <div class="title">{{album.title}}</div>
            <img *ngIf="album.photos.length > 0" class="smallAvatar"  src="http://localhost:8000/{{album.photos[0].url}}" alt="">
          </div>
      </div>
      </a>

    </div>
  </div>
</div>
<app-user-photos-container [link] = 'link' [limit] = 'limit' (reloadComponent)="reloadComponent()"></app-user-photos-container>
<app-album-modal *ngIf="showModal"
                 [id] ="myId"
                 [albums] = "albums"
                 [showModal] = "showModal"
                 (uploadAlbum) = "uploadAlbum($event)"
                 (changeStateModal) = "changeModal()"></app-album-modal>
