<ng-template #noAlbums>
  <div  class="container main_module">
    <h1 >
      <a [routerLink]="link">Альбомы</a>
    </h1>
    <hr>
    <div class="albums_block">
      <h5>Альбомов пока нет... :(</h5>
    </div>
  </div>
</ng-template>
<div  class="container main_module" *ngIf="albums.length>0; else noAlbums" [ngClass]="{main_module_width: !limit}">
  <div class="title_add">
    <h1 *ngIf="!limit ; else mainPageRoute">
      <a  routerLink="/users/{{albums[0].owner.login}}">{{albums[0].owner.name | titlecase}} {{albums[0].owner.surname | titlecase}} </a>
      / Альбомы
    </h1>
    <button *ngIf="accountChecker() && isAuth && !limit"  (click)="changeModal()" >Добавить Альбом</button>
  </div>
  <ng-template #mainPageRoute>
    <div class="title_add">
      <h1 >
        <a routerLink="albums">Альбомы</a>
      </h1>
    </div>
  </ng-template>
  <hr>
  <div class="albums_block" [ngClass]="{albums_block_center: limit}">
    <div *ngFor="let album of albums ">
      <a routerLink="/album/{{album._id}}">
        <div class="album" [ngClass]="{small_album_photo: limit, large_album_photo: !limit}">
          <div class="main-photo">
            <div class="title" [ngClass]="{title_small: limit, title_large: !limit}">
              {{album.title}}
            </div>
            <img *ngIf="album.photos.length > 0"  src="http://localhost:8000/{{album.photos[0].url}}" alt="">
          </div>
        </div>
      </a>

    </div>
  </div>
</div>
<div *ngIf="!limit">
  <app-user-photos-container></app-user-photos-container>
</div>
<app-album-modal *ngIf="showModal"
                 [id] ="myId"
                 [albums] = "albums"
                 [showModal] = "showModal"
                 (uploadAlbum) = "uploadAlbum($event)"
                 (changeStateModal) = "changeModal()"></app-album-modal>
