.albums_block_center{
  justify-content: center;
}
.main_module {
  width: 100%;
  margin-right: 0.5em;
  margin-left: 0;
}

.main_module_width{
  width: auto;
  margin-left: 0.5em;
}

.albums_block{
  display: flex;
  flex-flow: wrap;

  .large_album_photo{
    width: 250px;
    height: 170px;
  }
  .small_album_photo{
    width: 170px;
    height: 120px;
  }
  .album {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f1f1f;
    opacity: 0.9;

    &:hover{
      opacity: 1;
    }

    .main-photo {
      position: relative;
      background: url("../../placeholders/album.jpg") no-repeat center ;
      background-size: cover;
      width: 97%;
      height: 97%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        max-width: none;
        min-width: auto;
        min-height: auto;
        height: 100%;
        top: 50%;
        left: 50%;
      }

    }

    .title_large{
      max-width: 250px;
    }
    .title_small{
      max-width: 160px;
    }
    .title{
      color: #fffffa;
      text-shadow: 0 0 1px black;
      position: absolute;
      left: 5px;
      bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}

@media (max-width: 865px) {
  .albums_block {
    .small_album_photo {
      width: 170px;
      height: 100px;
    }
    .large_album_photo{
      width: 250px;
      height: 150px;
    }
  }
}


@media (max-width: 715px) {
  .albums_block {
    .small_album_photo {
      width: 120px;
      height: 90px;
    }
    .large_album_photo{
      width: 200px;
      height: 100px;
    }
  }
}


