<div *ngIf="msgs; else Loading">
  <div>
    <div class="message" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div class="mes_block" *ngFor="let mes of msgs.mes " [ngClass]="{myMes: mes.user._id === user._id, interlocutor: mes.user._id !== user._id}">
        <div class="info_mes">
          <div class="dialog-avatar">
            <img class="mes_avatar" src="http://localhost:8000/{{mes.user.avatar.url}}" alt="{{mes.user.name}}">
          </div>
          <div>
            <strong>{{mes.name | titlecase}}</strong> <small>{{mes.created_at | date: 'hh:mm  dd.MM'}}</small>
            <p>{{mes.text}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <form (ngSubmit)="sendMes(text)">

  <input name="text" type="text" [(ngModel)]="text" placeholder="Текст сообщения">

  <button class="btn_margin" type="submit" >Отправить</button>
  </form>
</div>
<ng-template #Loading>
  <div class="loading">
    <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
            <path fill="#0064AB" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
              <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="rotate"
                dur="1s"
                from="0 50 50"
                to="360 50 50"
                repeatCount="indefinite" />
            </path>
    </svg>
  </div>
</ng-template>
