
<div [@mesAnimation]="dialog" *ngIf="dialog; else Loading">
  <a [ngStyle]="{display: 'flex', justifyContent: 'center'}" (click)="showPersons = ! showPersons" >
   {{dialog.title?dialog.title:''}} {{dialog.persons.length}} участников</a>
  <div *ngIf="showPersons" class="extra_info_dialog">
    <strong>Все участники:</strong>
    <div class="info_mes" *ngFor="let person of dialog.persons">
      <div  routerLink="/users/{{person.login}}" class="dialog-avatar">
        <img class="mes_avatar" src="http://localhost:8000/{{person.avatar.url}}" alt="">
      </div>
      <h4>{{person.name | titlecase}} {{person.surname | titlecase}}</h4>
    </div>
  </div>
  <div>

    <div class="message" #scrollBar (scroll)="onScroll($event)">
      <small class="no_messages" *ngIf="msgs.length<1">Сообщений пока нет... :(</small>
      <div >
        <div class="mes_block"  *ngFor="let mes of msgs " [ngClass]="{myMes: mes.isReading.length}">
          <div class="info_mes">
            <div class="dialog-avatar">
              <img class="mes_avatar" src="http://localhost:8000/{{mes.user.avatar.url}}" alt="{{mes.user.name}}">
            </div>
            <div>
              <strong>{{mes.name | titlecase}}</strong>
              <small>{{mes.created_at | date: 'hh:mm:ss  dd.MM'}}</small>
              <p>{{mes.text}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
    <div class="message_text">
        <textarea placeholder=" Текст сообщения" [(ngModel)]="text"  name="comment[text]" id="comment_text"
                  class="ui-autocomplete-input"
                  (keydown)="keyToSend($event)"></textarea>
        <button class="send_sms" type="submit" (click)="sendMes(text)" >Отправить</button>
    </div>
</div>
<ng-template #Loading>
  <div class="loading">
    <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
            <path fill="#0064AB" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
              <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="rotate"
                dur="1s"
                from="0 50 50"
                to="360 50 50"
                repeatCount="indefinite" />
            </path>
    </svg>
  </div>
</ng-template>
