.message{
  width: 100%;
  height: 500px;
  overflow: scroll;
  overflow-x:hidden;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(102, 102, 102, 0.1);
    border-radius: 5px;
  }
}
.myMes{
  background-color: rgba(31, 31, 31, 0.04);
  border-radius: 5px;
}


.mes_block{
  margin: 5px;
  color: #1c1c1c;
  font-size: 14px;
  padding: 2px 10px;

  small{
    font-size: 12px;
    margin-left: 15px;
    color: rgba(102, 102, 102, 0.7);
  }
}

.dialog-avatar{
  color: #1f1f1f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.mes_avatar{
  max-width: 100%;
  max-height: 100%;
}

.info_mes{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loading{
  justify-content: center;
  height: 100%;
}

.extra_info_dialog{
  position: absolute;
  z-index: 2;
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  width: 49%;
  padding: 10px;
  margin: 0 5px;
}

textarea {
  margin: 5px;
  width: 80%;
  height: 50px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-image: none;
  border-radius: 5px;
  border-style: none solid solid none;
  border-width: 0;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  box-sizing: border-box;
  resize: none;
  &:focus{
    outline-width: 0;
  }
}


.message_text{
  display: flex;
  align-items: center;
}
.send_sms{
  width: 20%;
  height: 50px;
}
@media (max-width: 899px) {
  .dialog-avatar{
    width: 30px;
    height: 30px;
  }

  .mes_block{
    font-size: 12px;
    small{
      font-size: 10px;
    }
  }

}

