<button (click)="goBack()">Back</button>

<div *ngIf="(person | async); else loading">
  <div  *ngFor="let user of (person | async)">
    <div class="user">
      <div>
        <h2>{{user.login | uppercase}}</h2>
        <div>
          <img *ngIf="user.avatar; else noAvatar" class="avatar" src="http://localhost:8000/{{user.avatar}}" alt="">
          <ng-template #noAvatar> <div class="noavatar"> No Avatar </div></ng-template>
        </div>
      </div>
      <div>
        <div>
          <span>Name: </span>{{user.name | titlecase}}
        </div>
        <div>
          <span>Surname: </span>{{user.surname | titlecase}}
        </div>
        <div *ngIf="user.number">
          <span>Number: </span>{{user.number}}
        </div>
        <div>
          <span>Email: </span>{{user.email | lowercase}}
        </div>
        <div *ngIf="user.pets.length"><span>Pets: </span>
          <ul >
            <li *ngFor="let pet of user.pets"><span>{{pet.species | titlecase}} </span> {{pet.name | titlecase}} </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="loading">
    <div class="amazing-bananas">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>


