.noavatar{
  width: 120px;
  height: 120px;
  background-color: #473868;
  color: #cfd8dc;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
span{
  font-weight: bold;
}
.user{
  background-color: #e7fce6;
  border-radius: 5px;
  padding: 10px;
}
