
<div  class="container photos" *ngIf="photos" >
  <h1><a [routerLink]="link">Мои фотографии</a></h1>
  <hr>
  <div class="photos_block">
    <div *ngFor="let photo of photos; let i = index ">
        <div class="photo">
          <div class="main-photo">
            <div><span *ngIf="accountChecker()" (click)="delPhoto(i)" >&#10006;</span></div>
            <img *ngIf="photo"   src="http://localhost:8000/{{photo.url}}"  [routerLink]=""
                 [queryParams]="{ photo: photo._id }">
          </div>
        </div>
    </div>
  </div>
</div>

<app-photo-viewer></app-photo-viewer>



