*{
  box-sizing: border-box;
}
body {
  outline: 0 !important;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(97, 102, 92, 0.14);
  button:focus { outline: none; }
}

a {
  text-decoration: none;
  color: #444;
  &:hover {
    text-decoration: underline;
    color: #444;
  }
}

h1 {
  color: rgb(72, 72, 72);
  font-size: 1.2em;
  //font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 500;
  margin-bottom: 0;
}
h2 {
  color: #444;
  font-weight: lighter;
  font-size: 2em;
  margin-top: 0px;

}

h3 {
  color: #2e2e2e;
  font-weight: lighter;
  font-size: 1em;

}

strong {
  color: #2e2e2e;
}

h4 {
  color: #2e2e2e;
  font-weight: lighter;
  font-size: 1em;
  margin: 0 0 5px 5px;
}
//Buttons
button {
  background-color: rgba(21, 132, 20, 0.77);
  font-family: 'Roboto', sans-serif;
  border: none;
  top: 5px;
  padding: 8px 15px;
  color: #fff;
  border-radius: 5px;
  transition: .2s ease-in-out;

  &:hover {
    background-color: rgb(21, 132, 20);
    color: #fff;
  }

  &:disabled{
    color: #fff;
    background-color: #666;
  }
}

.btn_margin{
  margin: 5px 5px 5px 15px;
}

.btn_show {
  color: #126e04;
  padding-top: 2px;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 3px;


  &:hover {
    color: #126e04;
    cursor: pointer;
    text-decoration: underline;
  }
}

.btn_back {
  background-color: #3d8b59;

  &:hover {
    background-color: #1b533b;
  }
}

.delete{
  background-color: #ca0001;

  &:hover{
    background-color: #6d0004;
  }
}

input{
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  margin: 2px 0px;
  border-radius: 7px;
  font-size: 16px;
  outline: none;
}

hr{
  width: 99%;
  margin-left: 0;
  border: none;
  height: 1px;
  background-color: rgba(116, 171, 112, 0.38);
}
.avatar{
  max-width: 120px;
}

.smallAvatar{
  max-width: 80px;
}

.container{
  margin-top: 1em;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  box-shadow: 0 0 2px rgba(46, 46, 46, 0.39);
}

.main{
  margin: 0 10%;
}

.content{
  //display: flex;
  //flex-flow: wrap;
  padding-top: 15px;
  margin: 0 10%;
}

.page{
  display: flex;
  flex-flow: row;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
