

  <form  [formGroup]="form" (ngSubmit)="addPet()">
    <h2>Добавление питомца</h2>
    <div>
      <h1>Кличка</h1>
      <input type="text" formControlName="name" placeholder="Кличка питомца">
    </div>
    <div>
      <h1>Вид</h1>
      <input type="text"  formControlName="species" placeholder="Вид">
    </div>
    <div>
    <input type="text"  formControlName="owner" placeholder="Владелец" hidden>
  </div>
    <button class="btn btn_margin" type="submit" [disabled]="form.invalid">Добавить</button>

  </form>


