h2{
  margin: 0;
}

input {
  width: 100%;
  outline: none;
}

select{
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 10px;
  outline: none;
}

//blocks
.filtration{
  margin: 10px 0;
}

.container{
  margin-top: 0.5em;
  //margin-bottom: 0.5em;
  display: block;
  min-height: 500px;
  position: relative;
}
.pagination{
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.wrapper_pagination{
  height: 30px;
}
.module {
  padding: 10px;
  width: 98%;
  color: #1f1f1f;
  height: 130px;
  margin: 10px;
  display: flex;
  white-space: nowrap;

  border-bottom: 1px solid rgba(0, 0, 0, 0.07);

  .module-avatar{
    color: #1f1f1f;
    width: 120px;
    display: flex;
    justify-content: center;
  }
  .column-block{
    display: flex;
    flex-flow: column;
    justify-content: center;

    a{
      &:hover{
        text-decoration: underline;
      }
    }
  }

  h4 {
    padding: 0;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: 15px;
    &:hover{
      color: #2e2e2e;
      text-decoration: underline;
    }
  }
}

//loading
.loading{
  .loader{
    display: flex;
    height: 20px;
    width: 170px;
    &:after{
      content: "Поиск пользователя" ;
      animation: loading-text 3s infinite;
    }
  }
}

@keyframes loading-text{
  0%
  {content: "Поиск пользователя";}

  25%
  {content: "Поиск пользователя.";}

  50%
  {content: "Поиск пользователя..";}

  75%
  {content: "Поиск пользователя...";}
}


@media (max-width: 777px) {
  .filtration{
    margin: 5px 0;
  }

  select{
    padding: 2px 3px;
    margin: 0 5px;
  }
}
