
<div class="dashboard content">
  <h2>Все пользователи</h2>
  <input id="searching" type="text" placeholder="Поиск...">
  <hr>
    <div class="module" *ngFor="let user of (users | async)">
      <div class="column-block">
        <a class="module-avatar" routerLink="/users/{{user.login}}">
          <img class="smallAvatar" src="http://localhost:8000/{{user.photos[user.photos.length-1].url}}" alt="">
        </a>
      </div>
      <div class="column-block">
        <a routerLink="/users/{{user.login}}">
          <h4>{{user.name | titlecase}} {{user.surname | titlecase}} </h4>
        </a>
        <a class="btn_show">Написать сообщение</a>
        <a class="btn_show">Добавить в друзья</a>
      </div>
    </div>

</div>
