
<div *ngIf="userPerson">

  <button routerLink="/login/" type="submit" (click)="LogoutUser()" >Exit</button>
  <button *ngIf="myAccount === userPerson[0].login" (click)="reload()" >{{this.visible ? 'Back' : 'Edit'}}</button>
  <div class="account"  *ngIf="!visible; else edit">
    <div>
      <h2>{{userPerson[0].login }}</h2>
      <img class="avatar" *ngIf="userPerson[0].avatar" src="http://localhost:8000/{{userPerson[0].avatar}}" alt="{{userPerson[0].login}}">
      <div *ngIf="!userPerson[0].avatar" class="noavatar">No Avatar</div>
    </div>
    <div>
    <div>
     <h1>Name:</h1> {{userPerson[0].name | titlecase}}
    </div>
    <div>
      <h1>Surname:</h1> {{userPerson[0].surname | titlecase}}
    </div>
    <div>
      <h1>Email:</h1> {{userPerson[0].email | lowercase}}
    </div>
    <div>
      <h1>Number:</h1> {{userPerson[0].number}}
    </div>

    <div *ngIf="userPerson[0].pets.length>0">
      <div>
        <h1>My Pets:
          <a (click)="show = !show">show pets</a>
        </h1>
      </div>
      <div *ngIf="show">
          <div *ngFor="let pet of userPerson[0].pets">
            <div class="pets">
              <strong> {{pet.species | titlecase}}</strong>
               {{pet.name | titlecase}}

                <button class="btns" (click)="delPet(pet)">del</button>

            </div>
          </div>
      </div>

    </div>
    </div>
  </div>


  <ng-template #edit>
    <div class="editAccount" >
      <div class="editMenu">
        <button (click)="showEdit = true">edit user</button>
        <button (click)="showEdit = false">add pets</button>
        <button class="delete" routerLink="/login/"  (click)="delete(userPerson[0])" > DELETE</button>
      </div>
      <div>
          <app-add-user *ngIf="showEdit" [userPerson] = "userPerson[0]"></app-add-user>
          <app-add-pets  *ngIf="!showEdit" [owner] = "userPerson[0]" ></app-add-pets>
      </div>
    </div>
  </ng-template>

</div>


